body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  font-family: cursive;
}

section {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 70px auto;
}

section > div {
  align-self: flex-start;
}

.card {
  display: flex;
  border: 1px solid lightslategray;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.stats {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats .val {
  font-weight: 700;
}

#braco {
  z-index: 11;
  width: 20px;
  height: 10px;
  background-color: #f1cfb3;
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  top: 165px;
  left: 60px;
}

#pele {
  width: 0;
  height: 0;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 10;
  border-left: 0px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid #f1cfb3;
}

#casco {
  z-index: 11;
  width: 100px;
  height: 100px;
  background-color: #f1cfb3;
  border-radius: 100px;
  position: absolute;
  top: 90px;
  left: 110px;
}

#base {
  z-index: 11;
  width: 150px;
  height: 10px;
  background-color: #f1cfb3;
  /* border-radius: 100px; */
  position: absolute;
  top: 224px;
  left: 75px;
}

.btns_div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  /* align-self: flex-start; */
}

.btns_div > div p {
  margin-bottom: 5px;
}

.btns_div .btn_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.btns {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
    max-width: 1024px;
    margin: 0px 10%;
    position: relative;
  }

  section > div {
    align-self: center;
  }

  .image_div {
    width: 100%;
    position: fixed;
    background-color: white;
  }

  .card,
  .stats {
    margin: 0 auto;
  }

  .btns_div {
    padding-top: 360px;
    margin-bottom: 50px;
  }

  .btns_div > div p {
    text-align: center;
    margin-bottom: 10px;
  }

  .btns_div .btn_content {
    justify-content: center;
  }
}
